<%= form_with(model: mautic_connection, local: true) do |form| %>
  <% if mautic_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mautic_connection.errors.count, "error") %> prohibited this mautic_connection from being saved:</h2>

      <ul>
      <% mautic_connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, %w(Mautic::Connections::Oauth2) %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :mautic_connection_url %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :mautic_connection_client_id %>
  </div>

  <div class="field">
    <%= form.label :secret %>
    <%= form.text_field :secret, id: :mautic_connection_secret %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
