<p id="notice"><%= notice %></p>

<h1>Mautic Connections</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Url</th>
      <th>Client</th>
      <th>Secret</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @mautic_connections.each do |mautic_connection| %>
      <tr>
        <td><%= link_to(mautic_connection.url, mautic.mautic_connection_path(mautic_connection)) %></td>
        <td><%= mautic_connection.client_id %></td>
        <td><%= mautic_connection.secret %></td>
        <td><%= link_to 'Edit', mautic.edit_mautic_connection_path(mautic_connection) %></td>
        <td><%= link_to 'Destroy', mautic.mautic_connection_path(mautic_connection), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mautic Connection', mautic.new_mautic_connection_path %>
